// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav a span:first-of-type{
    color: #84bc22;
    font-weight: bold;

}

nav a span:last-of-type{
    color: #011847;
    font-weight: bold;

}

