// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav a {
    span:first-of-type{
        color: #84bc22;
        font-weight: bold;
    }

    span:last-of-type{
        color: #011847;
        font-weight: bold;
    }
}

/* .second-level-item{
    background-color: #262a32;
    color: white;
}
 */


.bg-menu{
    background-color: $background-color;
    color: white;
}

@media only screen and (min-width: 768px) {
/*     .bg-menu{
        background-color: white;
        color: $primary; */

    body img{
        float: center;
    }
  } 

  /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
  }
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSES
  * ==========================================
  *
  */
  
  body {
    min-height: 100vh;
  }
  
  
  @media (min-width: 991px) {
    .dropdown-menu {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }