// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------



.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}


@media only screen and (min-width: 768px) {

#navbarContent a:hover{
  background-color: #262a32;
  color: white;
  border-bottom: solid 3px #84bc22;
}

}