// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.btn {
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.first-content-social button{
    background-color: white;
    color: #355b99;
    font-weight: 500;
    border: solid  2px #355b99; 
}
  
.first-content-social button:hover {
    background-color: #355b99;
    color: white;
}

 i fa-facebook-f{
    color: #355b99; 
    margin-right: 4px;
}


