// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.osf-banner {
    position: relative;

}

.osf-banner img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.banner-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    color: white;
}

.banner-text-block h1{
    font-weight: 700;
}